tr:nth-child(1) td:nth-child(18){
    background-color:plum;
    height: 4rem;
    width: 4rem;
    text-align: center;
}
tr:nth-child(1) td:nth-child(1){
    background-color: yellow;
    height: 4rem;
    width: 4rem;
    text-align: center;
}
tr:nth-child(2) td:nth-child(1){
    background-color:  rgb(116, 116, 133);
    width:  4rem;
    height: 4rem;
    text-align: center;
}
tr:nth-child(2) td:nth-child(2){
    width: 4rem;
    height: 4rem;
    background-color: peru;
    text-align: center;
}

tr:nth-child(2) td:nth-child(13){
    width: 4rem;
    height: 4rem;
background-color: rgb(255, 136, 0);
text-align: center;
}
tr:nth-child(2) :nth-child(n + 14):nth-child(-n + 16){
    width: 4rem;
    height: 4rem;
    background-color: yellow;
    text-align: center;
}
tr:nth-child(2) :nth-last-child(+2){
    width: 4rem;
    height: 4rem;
    background-color: rgb(165, 108, 42);
    text-align: center;
}
tr:nth-child(2) :nth-last-child(+1){
    width: 4rem;
    height: 4rem;
    background-color: plum;
    text-align: center;
}
tr:nth-child(3) td:nth-child(1){
    background-color:  rgb(116, 116, 133);
    width:  4rem;
    height: 4rem;
    text-align: center;
}
tr:nth-child(3) td:nth-child(2){
    width: 4rem;
    height: 4rem;
    background-color: peru;
    text-align: center;
}


tr:nth-child(3) td:nth-child(13){
    width: 4rem;
    height: 4rem;
background-color:  rgb(255, 136, 0);
text-align: center;
}
tr:nth-child(3) td:nth-child(14){
    width: 4rem;
    height: 4rem;
background-color: pink;
text-align: center;
}


tr:nth-child(3) :nth-child(n + 15):nth-child(-n +16){
    width: 4rem;
    height: 4rem;
    background-color: yellow;
    text-align: center;
}

tr:nth-child(3) :nth-last-child(+2){
    width: 4rem;
    height: 4rem;
    background-color:  rgb(165, 108, 42);
    text-align: center;
}
tr:nth-child(3) :nth-last-child(+1){
    width: 4rem;
    height: 4rem;
    background-color: plum;
    text-align: center;
}

tr:nth-child(4) td:nth-child(1){
    background-color:  rgb(116, 116, 133);
    width:  4rem;
    height: 4rem;
    text-align: center;
}
tr:nth-child(4) td:nth-child(2){
    width: 4rem;
    height: 4rem;
    background-color: peru;
}
tr:nth-child(4) :nth-child(n + 3):nth-child(-n + 12){
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 128, 79);
    text-align: center;
}

tr:nth-child(4) td:nth-child(13){
    width: 4rem;
    height: 4rem;
background-color: pink;
text-align: center;
} 
tr:nth-child(4) td:nth-child(14){
    width: 4rem;
    height: 4rem;
background-color: pink;
text-align: center;
}

tr:nth-child(4) td:nth-child(15){
    width: 4rem;
    height: 4rem;
background-color:  rgb(255, 136, 0);
text-align: center;
}

tr:nth-child(4) td:nth-child(16){
    width: 4rem;
    height: 4rem;
background-color: yellow;
text-align: center;
}

tr:nth-child(4) :nth-last-child(+2){
    width: 4rem;
    height: 4rem;
    background-color:  rgb(165, 108, 42);
    text-align: center;
}
tr:nth-child(4) :nth-last-child(+1){
    width: 4rem;
    height: 4rem;
    background-color: plum;
    text-align: center;
}

tr:nth-child(5) td:nth-child(1){
    background-color:  rgb(116, 116, 133);
    width:  4rem;
    height: 4rem;
    text-align: center;
}
tr:nth-child(5) td:nth-child(2){
    width: 4rem;
    height: 4rem;
    background-color: peru;
    text-align: center;
}
tr:nth-child(5) :nth-child(n + 3):nth-child(-n + 12){
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 128, 79);
    text-align: center;
}

tr:nth-child(5) td:nth-child(13){
    width: 4rem;
    height: 4rem;
background-color:  pink;
text-align: center;
}
tr:nth-child(5) td:nth-child(14){
    width: 4rem;
    height: 4rem;
background-color: pink;
text-align: center;
}

tr:nth-child(5) td:nth-child(15){
    width: 4rem;
    height: 4rem;
background-color:  rgb(255, 136, 0);
text-align: center;
}

tr:nth-child(5) td:nth-child(16){
    width: 4rem;
    height: 4rem;
background-color: yellow;
text-align: center;
}

tr:nth-child(5) :nth-last-child(+2){
    width: 4rem;
    height: 4rem;
    background-color:  rgb(165, 108, 42);
    text-align: center;
}
tr:nth-child(5) :nth-last-child(+1){
    width: 4rem;
    height: 4rem;
    background-color: plum;
    text-align: center;
}


tr:nth-child(6) td:nth-child(1){
    background-color:  rgb(116, 116, 133);
    width:  4rem;
    height: 4rem;
    text-align: center;
}
tr:nth-child(6) td:nth-child(2){
    width: 4rem;
    height: 4rem;
    background-color: peru;
    text-align: center;
}

tr:nth-child(6) td:nth-child(3){
    width: 4rem;
    height: 4rem;
    background-color:rgb(0, 195, 255);
    text-align: center;
}
tr:nth-child(6) :nth-child(n + 4):nth-child(-n + 12){
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 128, 79);
    text-align: center;
}

tr:nth-child(6) :nth-child(n + 13):nth-child(-n + 15){
    height: 4rem;
    width: 4rem;
    background-color: pink;
    text-align: center;
}
tr:nth-child(6) td:nth-child(16){
    width: 4rem;
    height: 4rem;
background-color: yellow;
text-align: center;
}

tr:nth-child(6) :nth-last-child(+2){
    width: 4rem;
    height: 4rem;
    background-color:  rgb(165, 108, 42);
    text-align: center;
}
tr:nth-child(6) :nth-last-child(+1){
    width: 4rem;
    height: 4rem;
    background-color: plum;
    text-align: center;
}

tr:nth-child(7) td:nth-child(1){
    background-color:  rgb(116, 116, 133);
    width:  4rem;
    height: 4rem;
    text-align: center;

}
tr:nth-child(7) td:nth-child(2){
    width: 4rem;
    height: 4rem;
    background-color: peru;
    text-align: center;
}

tr:nth-child(7) td:nth-child(3){
    width: 4rem;
    height: 4rem;
    background-color: rgb(0, 117, 128);
    text-align: center;
}
tr:nth-child(7) :nth-child(n + 4):nth-child(-n + 12){
    width: 4rem;
    height: 4rem;
    background-color:  rgb(0, 128, 79);
    text-align: center;
}

tr:nth-child(7) :nth-child(n +13):nth-child(-n + 14){
    width: 4rem;
    height: 4rem;
    background-color: pink ;
    text-align: center;
}

tr:nth-child(7) td:nth-child(15){
    width: 4rem;
    height: 4rem;
background-color: peru;
text-align: center;
}

tr:nth-child(7) td:nth-child(16){
    width: 4rem;
    height: 4rem;
background-color: plum;
text-align: center;}


tr:nth-child(7) :nth-last-child(+2){
    width: 4rem;
    height: 4rem;
    background-color:  rgb(0, 109, 128);
    text-align: center;
}
tr:nth-child(7) :nth-last-child(+1){
    width: 4rem;
    height: 4rem;
    background-color: peru;
    text-align: center;
}
tr:nth-child(8) :nth-child(n + 2):nth-child(-n + 15){
    width: 4rem;
    height:  4rem;
    background-color: rgb(0, 225, 255);
    text-align: center;
}

tr:nth-child(9) :nth-child(n + 2):nth-child(-n + 15){
    width: 4rem;
    height:  4rem;
    background-color:  rgb(0, 117, 128);
    text-align: center;
}







